[Desktop Entry]
Type=Application
Name=Visual Studio Code
Comment=Multiplatform Visual Studio Code from Microsoft
Icon=visual-studio-code
Exec=code %F
TryExec=code
Terminal=false
MimeType=x-scheme-handler/vscode;
Categories=Development;IDE;
